<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.website.mapper.FilmScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="FilmScoreModel">
        <id column="id" property="id" />
        <result column="score_platform" property="scorePlatform" />
        <result column="score_platform_icon" property="scorePlatformIcon" />
        <result column="score_total" property="scoreTotal" />
        <result column="score_ratio" property="scoreRatio" />
        <result column="sequence" property="sequence" />
        <result column="film_uid" property="filmUid" />
        <result column="creact_time" property="creactTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, score_platform, score_platform_icon, score_total, score_ratio, sequence, film_uid, creact_time
    </sql>

</mapper>
